/*proyexto */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*home*/
body{    
    background-color: #c3c48dff;

  
}


  

/*navbar*/
.barra-link{    
    display: inline-block;
    list-style: none;
    margin: 0 20px;  
}


.barra-vinculo{
    font-size: 6rem;    
    text-decoration: none;
    color:white;
}   
 .barra-link :hover {
    background-color:darkgoldenrod;
    color:white;
    border: 10px solid darkgoldenrod;        
 }

.container-fluid{
    display:flex;
    justify-content: center;

}

.logo{
    margin: 1em;
    width: 50%;
    cursor: pointer;      
}




a{
    text-decoration: none;
    color:white;
 
}




/*seleccionados home*/
.div-s{
    display: grid;
    place-items: center; 
}

.titulo-seleccionados{
    font-size: 3em;
    width: 100%;
    background-color:darkgoldenrod;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
  
}

.div-seleccionados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    text-align: center;
}



.img-seleccionados{ 
    width: 10vw;
    height: 15vh;        
  
}



/*seccion cura mate*/
.cura-mate{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    text-align: center;

}
.cura-mate-ol{
    list-style: none;
   font-size: 1.5rem;
}

.cura-mate-titulo{     
    font-size: 3em;
    width: 100%;
    background-color:darkgoldenrod;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
 
}
.cura-mate-subtitulo{
    font-size: 3rem;
    color: white;
    background-color: darkgoldenrod;
    margin: 2vh;
    display: inline-block;
}

#carouselExampleDark{
    width: 30vw;
}
.carousel-div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5vh;
        
}




/*media cura mate*/

@media (max-width:1630px){
    .barra-vinculo{
        font-size: 2rem;
    } 

    .titulo-seleccionados{
        font-size: 3rem;
    } 

    .img-seleccionados{ 
        width: 15vw;
        height: auto;              
    }        
 
   .cura-mate-titulo{
    font-size: 3rem;
   } 

   .cura-mate-subtitulo{
    font-size: 2rem;
   }

   .footer{
    font-size: 5rem;
   } 
    .cura-mate-li{
        font-size:1.5rem;
    }

    #carouselExampleDark{
        margin: 10%;
        width: 80vh;
    }
}

@media(max-width:1213px){
    #carouselExampleDark{
        margin: 20%;
        width: 40vh;
    }
    .cura-mate-li{
        font-size:1rem;
    }

}



@media (max-width:630px){
    .logo{
        width: 50vw;
          
    }
    .titulo-seleccionados{
        font-size: 2rem;
    } 

    .div-seleccionados{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
        margin: 5vh;
     
    }
    .img-seleccionados{ 
        width: 50vw;
     
      
    }

    .cura-mate{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
        text-align: center;
 
    }

   .cura-mate-titulo{
    font-size: 2rem;
   } 

   .cura-mate-subtitulo{
    font-size: 2rem;
   }

     #carouselExampleDark{
       display: none;
    }

    .cura-mate-li{
        font-size:1rem;
    }
}




/*footer*/
.footer-div{
    background-color:darkgoldenrod;
    font-size: 1rem;    
    color: white;
      flex-wrap:wrap;
      display: flex;   
}




@media(max-width:630px){
    .footer{
        background-color:darkgoldenrod;
        font-size: 1rem;    
        color: white;
        position: static;
    }
    
}






/*Nuestros productos*/

.div-titulo-p{
    width: 100%;
    background-color:darkgoldenrod;
    margin-bottom: 2rem;
    color: white;
    text-align: center;    
  
}


.titulo-productos{
    font-size: 3em;
  
}



.img-productos{ 
    width: 10vw;
   height: auto;    
   
}


@media(max-width:990px){
    .div-productos{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
        margin: 5vh;
    }
    .titulo-productos{
        font-size: 2em;
      
    }

    .img-productos{
        width: 50vw;
        
    }

}





/*contacto*/
.consultas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family:'Behila', sans-serif;
    margin: 5rem 0 5rem 0;
    padding: 0;
}


form{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding: 20px;
  background-color:darkgoldenrod;  
  border-radius: 4px;
    color:white;
}

.consulta-email{
  width: 100%;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    


}

.consulta-nombre{
  width: 100%;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
   
}

.consulta-apellido{
  width: 100%;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;

}
.consulta-button{
  width: auto;
  padding: 10px 20px;
  background-color:white;
  border: none;   
  cursor: pointer;
}

input{
  height: 3rem;
  width: 15rem;
}
#button{
  color:darkgoldenrod;
  font-size: 2rem;
  background-color: white;
}

#sugerencias{
  height: 20rem;
  width: 100%;
}

.img-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.img-contacto-t{
    width: 20vw;
  
}

.section-con{
    width: 100%;

}


.titulo-con{
    font-size: 3rem;
    background-color:darkgoldenrod; 
    text-align: center;
    color:white ;
    width: 100%;

 
 
}
.div-con{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    
}
.li-con{
    list-style: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.logos-con{
    height: 6vh;
    width: 5vw;
}

@media(max-width:630px){
    .img-contacto-t{
        width: 60vh;
    }
    form{
        width: auto;
        font-size: 1rem;
    }    

    .li-con{
        font-size: 1rem;
    }
    .titulo-con{
        font-size: 2rem;
    }
}





/*Nosotros*/
.nosotros{
    display: grid;
    place-items: center; 
}

.nosotros-img-t{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.nosotros-img{
    width: 25vw;
   
}

.nosotros-titulo{
    font-size: 3em;
    width: 100%;
    background-color:darkgoldenrod;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
   
}

.div-parrafo{
    display: grid;    
    place-items: center;
}



.nosotros-parrafo{
   font-size: 2rem;
    width: 50%;
    margin: 5rem;
}

@media(max-width:630px){
    .nosotros-titulo{
        font-size: 2em;
    }


    .nosotros-img{
        width: 40vh;
    }
    .nosotros-parrafo{
        font-size: 1rem;
        width: 75%;   
      
    }
}




/*arma tu mate*/
.armado_mate{
    display: grid;
    place-items: center;
    
 
}
.armado-titulo{
    font-size: 3em;
    width: 100%;
    background-color:darkgoldenrod;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.div-mate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.img-mate{
    width: 15vw;  
}

.armado-ol{
    font-size: 2rem; 
   

}


@media(max-width:630px){
    .img-mate{
        width: 60vw;       
    }
    .armado-ol{
        font-size: 1rem;           
    }
    .armado-titulo{
        font-size: 2rem;
    }   

}








    
       







